body {
	height:100%;
	background-color: #d4d4d4;
	font-family: "Alegreya Sans",Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #3d3130;
}

#ProjectName {
	border: none;
	box-shadow: none;
	background-color: transparent;
	height:63px;
	padding-top: 0;
	font-size:18px;
	color: white;
	font-family: "Alegreya Sans SC";
	font-weight: 300;
	font-size: 2em;
	width:220px;
	text-align:right;
}

#export-btn, #save-btn, #undo-btn, #redo-btn {
  background-color: white;
  border: 1px solid #2eabe2;
  color: #2eabe2;
}

.btn.disabled, .btn[disabled] {
	background-color: #2eabe2 !important;
}

#export-btn:hover, #save-btn:hover, #undo-btn:hover, #redo-btn:hover{
  background-color: rgba(102,83,81,0.25);
}

#NameView {
	height:86px;
	background-color: #2eabe2;
}

input[type="checkbox"] {
	width: 16px;
	height: 16px;
}

#HistoryView {
	padding-top:8px;
/*	background-color: #d4d4d4; */
}

.btn-default {
	background-color: transparent;
	border-color: rgba(102,83,81,0.25);
}

#logo {
	color: white;
	font-weight: 900;
	font-style: italic;
	font-family: "Alegreya Sans SC";
	font-size: 4em;
	line-height: 0.56;
}


#HistoryView {
	width: 600px;
}

#HistorySketchesView {
	overflow-y: hidden;
	white-space: nowrap;
	overflow-x: auto;
	text-align: right;
}

#save-container {
	text-align: right;
}

#ProjectView {
	position: absolute;
	background-color: #d4d4d4;
	top: 130px; /* because of the header */
}

#EaselView {
	position: relative;
	min-height:100%;
	padding-top: 14px;
	padding-bottom: 14px;
}

#PadView svg {
	border: 1px solid #d4d4d4;
}

#ToolbarView {
/*    box-shadow: 2px 0px 5px -2px #888888; */
	min-height:100%;
}

#tutorial{
	position: relative;
	top: 10px;
	float: right;
}

#instructions{
	color:#5C5C5C;
	position: absolute;
	margin-top: 20px;
	font-size: 12px;
}

#tutorial-btn {
	width: 150px;
	height: 35px;
}

#PadView {
   box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   /*TODO: Change to make not hardcoded*/
   width: auto;
}

.toolbar-btn {
	height: 70px;
	width: 95%;
	margin-bottom: 10px;
}

#SuggestionsView {
	height:100%;
	color: #3d3130;
	margin: auto;
}

#SuggestionsView svg, #HistorySketchesView svg {
/*	border: 1px solid #d4d4d4; */
	border-radius: 4px;
}

#SuggestionsView svg:hover, #HistorySketchesView svg:hover {
	cursor: pointer;
	border-color: #807ec7;
	box-shadow: 0px 0px 1px 1px #807ec7;
}
