body { 
	height:100%;
	background-color: #d4d4d4;	
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
}

.row {
	min-height:40px;
}


#HistoryView {
	height:10%;
	min-height: 60px;
	padding:4px;
	background-color: #d4d4d4;
}

#HistorySketchesView {
	overflow-x:scroll; 
	overflow-y: hidden; 
	height:100%;
}

#EaselView {
	margin-top: 50px; /* because of the header */ 
	min-height: 500px;
	height:100%;
	background-color:white;
}

#ToolbarView {
    box-shadow: 2px 0px 5px -2px #888888;
	height:100%;
	min-height:500px;
}

#SuggestionsView {
	height:14%;
	min-height: 100px;
	background-color: #d4d4d4;	
}

#Tutorial{
	position: relative;
	top: 10px;
	float: right;
	width: 150px;
}

#instructions{
	color:#5C5C5C;
	position: absolute;
	margin-top: 20px;
	font-size: 12px;
}

#tutorial-btn {
	width: 150px;
	height: 35px;
}

.toolbar-btn {
	height: 80px;
	width: 100%;
	margin-top: 10px;
}

