.force { stroke: #3d3130; }
.grad { stroke: #807ec7; }

.node { fill: #3d3130; }
.fixed { fill: #3d3130; }
.fixed.selected { fill: #807ec7; }
.node.selected { fill: #807ec7; }

.link { stroke: #9c7b70; }
.link.tension { stroke: #2eabe2; }
.link.compression { stroke: #f15a5e; }
.link.selected { stroke: #807ec7; }

#HistorySketchesView svg:not(:hover) .link { 
	stroke: white;
	stroke-width: 3px !important;
}

.dragline {
  stroke: #9c7b70;
  pointer-events: none;
}
