.force { stroke: #3d3130; }
.grad { stroke: #807ec7; }

.node { fill: #3d3130; }
.node.selected { fill: #807ec7; }

.link { stroke: #9c7b70; }
.link.tension { stroke: #2eabe2; }
.link.compression { stroke: #2eabe2; }
.link.selected { stroke: #807ec7; }

.dragline {
  stroke: #9c7b70;
  pointer-events: none;
}
