.force { stroke: #e14a4e; }
.grad { stroke: #807ec7; }

.node { fill: #3d3130; }
.immovable { fill: #e14a4e; }
.fixed { fill: #2eabe2; }
.node.selected { fill: #807ec7; }
.immovable.selected { fill: #e14a4e; }
.fixed.selected { fill: #2eabe2; }

#HistorySketchesView svg .link {
    transition: all 0.3s;
    opacity: 1 !important;
}

#HistorySketchesView svg:not(:hover) .link {
	stroke: white;
	stroke-width: 3px !important;
}

#SuggestionsView svg .link {
    transition: all 0.3s;
}

#SuggestionsView svg:not(:hover) .link {
	stroke: #3d3130;
	stroke-width: 2px !important;
}

.dragline {
  stroke: #9c7b70;
  pointer-events: none;
}
